JWT_SECRET=
ACCESS_TOKEN_DURATION=10m
REFRESH_TOKEN_DURATION=43200m
VERIFICATION_TTL=15m

FRONTEND_URL=http://localhost:3000

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AUTH_DB_NAME=
USER_DB_NAME=
CHAT_DB_NAME=

SMTP_HOST=
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=

REDIS_URL=redis://chavo-redis:6379/0

INTERNAL_SECRET=

ENV=development
AUTH_PORT=8001
USER_PORT=8002